.eir-banner {
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
  position: relative;
  
  img.eir-background-img {
    height: 100%;
    width: 100%;
  }

  &.eir-banner--large {
    height: 716px;
    // background-image:url('../images/sample-image.jpg'); //todo add image in later
  }

  &.eir-banner--small {
    height: 356px;
  }

  &.eir-banner--blue {
    background-color: $blue;
  }
  
  &.eir-banner--purple {
    background-color: $purple;
  }

  //....add more colours when required
}

@media only screen and (max-width: $small-breakpoint) {
  .eir-banner__text{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
