.eir-banner {
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
  position: relative;

  &.eir-banner--large {
    height: 716px;
    // background-image:url('../images/sample-image.jpg'); //todo add image in later
  }

  &.eir-banner--small {
    height: 356px;
  }

  &.eir-banner--blue {
    background: $blue;
  }
  
  &.eir-banner--purple {
    background: $purple;
  }

  img.eir-background-img {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 40em) { //todo check foundation's media queries
  .eir-banner__text{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
