.eir-button {
  border-radius: 4px;

  &.eir-button--blue {
    background-color: $blue;

    &:hover {
      background-color: $dark-blue;
    }
  }

  &.eir-button--red {
    background-color: $red;

    &:hover {
      background-color: $dark-red;
    }
  }

  //....add more colours when required
}
