$turquoise: #00b5d5;
$dark-turquoise: #005670;
$blue: #307fe2;
$dark-blue: #003380;
$purple: #8b00ef;
$dark-purple: #470a68;
$pink: #f217bb;
$dark-pink: #b10071;
$red: #e40046;
$dark-red: #a5222a;
$yellow: #ffc800;
$dark-yellow: #ed8b00;
$lime: #97d700;
$dark-lime: #5d8715;
$green: #3bb700;
$dark-green: #008c15;
$white: #ffffff;
$light-grey: #c6c6c6;
$mid-grey: #54585a;
$dark-grey: #25262a;