.eir-dot {
  display: flex;
  align-items: center;
  line-height: 1;
  text-align: center;
  color: $white;
  border-radius: 50%;
  justify-content: center;

  &.eir-dot--small {
    width: rem-calc(16);
    height: rem-calc(16);
  }

  &.eir-dot--medium {
    width: rem-calc(48);
    height: rem-calc(48);
  }

  &.eir-dot--large {
    width: rem-calc(72);
    height: rem-calc(72);
    font-size: rem-calc(20);
  }

  &.eir-dot--xlarge {
    width: rem-calc(100);
    height: rem-calc(100);
    font-size: rem-calc(28);
  }

  &.eir-dot--green {
    background: $green;
  }

  &.eir-dot--purple {
    background: $purple;
  }

  &.eir-dot--red {
    background: $red;
  }

  &.eir-dot--blue {
    background: $blue;
  }

  &.eir-dot--pink {
    background: $pink;
  }

  &.eir-dot--shadow{
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
  }

}
