$input-border-width: 4px;
$input-font-size: rem-calc(20px);
$input-font-color: $dark-grey;
$input-border-color: $white;
$input-box-shadow: none;
$input-placeholder-font-color: $light-grey;

input[type=text].eir-input {
    border-radius: 10px;
    height: 52px;

    &.eir-input--blue:focus {
        border-color: $blue;
    }
    
    &.eir-input--purple:focus {
        border-color: $purple;
    }
    
    &.eir-input--pink:focus {
        border-color: $pink;
    }
}