input[type='text'].eir-input {
  border-radius: 10px;
  height: 52px;
  line-height: 52px;

  &.eir-input--blue:focus {
    border-color: $blue;
  }

  &.eir-input--purple:focus {
    border-color: $purple;
  }

  &.eir-input--pink:focus {
    border-color: $pink;
  }

  //....add more colours when required
}
