// Foundation styles
@import '_settings.scss';
@import '../../node_modules/foundation-sites/scss/foundation.scss';

// eir styles
@import '_fonts.scss';
@import '_inputs.scss';
@import '_buttons.scss';
@import '_banners.scss';
@import '_dots.scss';

// Basic stuff
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.title {
  text-align: center;
}

.content {
  margin-top: 3em;
}

.side-nav {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 320px;
}

li {
  list-style: none;
}
