// Foundation styles
@import '_settings.scss';
@import '../../node_modules/foundation-sites/scss/foundation.scss';

// eir styles
@import '_fonts.scss';
@import '_inputs.scss';
@import '_buttons.scss';
@import '_accordions.scss';
@import '_banners.scss';
@import '_typography.scss';

// Basic stuff
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  margin-top: 88px;
}

.title-container {
  position: fixed;
  top: 0;
}

.title {
  font-weight: bold;
  font-size: 23px;
  margin-left: 10px;
}

.panel-title {
  padding-bottom: 20px;
  text-decoration: underline;
}

.anchor-link {
  position: relative;
  top: -100px;
  display: block;
  height: 0;
  width:0;
}

.space-above {
  margin-top: 40px;
}
